.db-interaction-zone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  min-width: 80px;
  gap: 1rem;
  margin-top: 10%;
  margin-bottom: 2rem;

  .db-interaction-zone__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 0.5rem;

    h5 {
      color: var(--theme-elevation-500);
    }
  }

  .db-interaction-zone__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-width: 80px;
    gap: 2rem;
  }

  .db-interaction-zone__button {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
    padding: 0.6em 1em;
    //
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    //
    background-color: light-dark(hsl(210 11% 50% / 1), hsl(210 18% 13% / 1));
    border: 1px solid;
    border-color: var(--border-ui);
    border-radius: 0.475rem;
    transition: opacity 250ms;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    //
    color: light-dark(white, var(--color-base-150));
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: 500;
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
    //
    transition:
      color 200ms ease-in-out,
      border-color 200ms ease-in-out,
      opacity 200ms ease-in-out,
      visibility 200ms ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: 0.85;
    }

    &:focus-visible {
      outline: 0;
      outline-offset: 0;
      // outline: 2px solid transparent;
      // outline-offset: 2px;
    }

    &.loading {
      transition: none;
      opacity: 0.75;
      animation: pulse 1.5s ease-in-out infinite;
      cursor: wait;
    }

    &.success {
      opacity: 1;
      color: var(--theme-success-500);
      border-color: var(--theme-success-500);
    }

    &.error {
      opacity: 1;
      color: var(--theme-error-500);
      border-color: var(--theme-error-500);
    }

    &:disabled {
      pointer-events: none;
    }

    @keyframes pulse {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
